# oct-specific
state.json
user_state.json

# Python-specific: Byte-compiled / optimized / DLL files
.venv*
__pycache__/
*.py[cod]
*$py.class
*.so

# Rust-specific
/target*

# Other
.env
node_modules/

# oct-platform specific
crates/oct-platform/e2e/test-results/
crates/oct-platform/e2e/playwright-report/
