[project]
name = "http-server-with-multiple-dockerfiles"

[project.state_backend.local]
path = "./state.json"

[project.user_state_backend.local]
path = "./user_state.json"

[[project.services]]
name = "app_1"
image = ""
dockerfile_path = "Dockerfile.app_1"
internal_port = 8000
cpus = 250
memory = 64

[[project.services]]
name = "app_2"
image = ""
dockerfile_path = "Dockerfile.app_2"
internal_port = 8000
cpus = 250
memory = 64

[[project.services]]
name = "nginx"
image = "ghcr.io/opencloudtool/nginx-with-conf:latest"
internal_port = 80
external_port = 80
cpus = 250
memory = 64
depends_on = ["app_1", "app_2"]

[project.services.envs]
NGINX_CONF = """
events {
    worker_connections 1024;
}

http {
    upstream app {
        server app_1:8000;
        server app_2:8000;
    }

    server {
        listen 80;

        location / {
            proxy_pass http://app;
        }
    }
}
"""
